@import '../../../scss/extend';
@import '../../../scss/mixins';

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.badge{
  font-size: 0.90em;
}

.mat-icon{
  margin-left: 5px;
  margin-right: 5px;
}

.employee-header{
  @extend display-flex;
  @include justify-content(space-between);
}

.add-employee, .action-group-icons{
  @extend cursor-pointer;
}