<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    <form id="attendance-form" [formGroup]="attendanceForm">
        <mat-form-field>
            <mat-label>Check-in/out</mat-label>
            <mat-select formControlName="check_in_out">
                <mat-option value="check_in">Check-in</mat-option>
                <mat-option value="check_out">Check-out</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="attendance-input-form-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput placeholder="" formControlName="remarks"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="onAttendanceSubmit(attendanceForm.value)"
        [disabled]="!attendanceForm.valid">Save</button>
</mat-dialog-actions>