:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 20px;
    }
    .profile-card {
      text-align: center;
      padding: 0 20px 20px 20px;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

:host ::ng-deep .mat-list-item-content{
  color: blue;
  font-weight: 500;
  letter-spacing: 2px;
}

:host ::ng-deep mat-list-option:hover, 
.mat-list-option:focus, 
.mat-nav-list 
.mat-list-item:hover, 
.mat-nav-list 
.mat-list-item:focus, 
.mat-action-list 
.mat-list-item:hover, 
.mat-action-list 
.mat-list-item:focus {
  background: rgba(0,0,0,0.09);
}