@import '../../scss/extend';
ul li {
    list-style: none;
  }

  .mat-toolbar-row{
    span{
      width: 250px;
    }
  }

.menu-icon{
  margin-left: 250px;
  @extend cursor-pointer;
}

.mat-toolbar-row{
  background: #031B43;
  color:#fff;
}
